<!--
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a style="cursor: pointer;">
      <img src="./assets/blackhat.svg" routerLink="/">
    </a>

    The Reviewer

    <button mat-button  routerLink="/example">
      Ejemplo componentes
    </button>

    <button mat-button  routerLink="/sidenav">
      Ejemplo sidenav
    </button>


    <div class="flex-stretch"></div>

    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl" class="mr-8"> </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>

  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Subheader</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>

</mat-toolbar>



<div class="content mat-app-background">
  <router-outlet> </router-outlet>
</div>
-->

<app-side-nav> 
  
</app-side-nav>